<%= bootstrap_form_for(double_ball) do |f| %>
  <% if double_ball.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(double_ball.errors.count, "error") %> prohibited this double_ball from being saved:</h2>

      <ul>
      <% double_ball.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :period_number %>
  </div>

  <div class="field">
    <%= f.datetime_select :date %>
  </div>

  <div class="field">
    <%= f.number_field :red1 %>
  </div>

  <div class="field">
    <%= f.number_field :red2 %>
  </div>

  <div class="field">
    <%= f.number_field :red3 %>
  </div>

  <div class="field">
    <%= f.number_field :red4 %>
  </div>

  <div class="field">
    <%= f.number_field :red5 %>
  </div>

  <div class="field">
    <%= f.number_field :red6 %>
  </div>

  <div class="field">
    <%= f.number_field :blue %>
  </div>

  <div class="field">
    <%= f.number_field :week_num %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
