<p id="notice"><%= notice %></p>

<h1>Double Balls</h1>
<%= will_paginate @questions %>
<table>
  <thead>
    <tr>
      <th><%= I18n.t :"double_ball.period_number" %></th>
      <th><%= I18n.t :"double_ball.date" %></th>
      <th><%= I18n.t :"double_ball.week_num" %></th>
      <th><%= I18n.t :"double_ball.red1" %></th>
      <th><%= I18n.t :"double_ball.red2" %></th>
      <th><%= I18n.t :"double_ball.red3" %></th>
      <th><%= I18n.t :"double_ball.red4" %></th>
      <th><%= I18n.t :"double_ball.red5" %></th>
      <th><%= I18n.t :"double_ball.red6" %></th>
      <th><%= I18n.t :"double_ball.blue" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @double_balls.each do |double_ball| %>
      <tr>
        <td><%= double_ball.period_number %></td>
        <td><%= double_ball.date %></td>
        <td><%= double_ball.red1 %></td>
        <td><%= double_ball.red2 %></td>
        <td><%= double_ball.red3 %></td>
        <td><%= double_ball.red4 %></td>
        <td><%= double_ball.red5 %></td>
        <td><%= double_ball.red6 %></td>
        <td><%= double_ball.blue %></td>
        <td><%= double_ball.week_num %></td>
        <td><%= link_to 'Show', double_ball %></td>
        <td><%= link_to 'Edit', edit_double_ball_path(double_ball) %></td>
        <td><%= link_to 'Destroy', double_ball, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @questions %>

<%= link_to 'New Double Ball', new_double_ball_path %>
