<p id="notice"><%= notice %></p>

<h1>Double Balls</h1>
<%= will_paginate @questions %>
<table class="table table-striped table-hover table-auto">
  <thead>
    <tr>
      <th><%= I18n.t :"double_ball.period_number" %></th>
      <th><%= I18n.t :"double_ball.date" %></th>
      <th><%= I18n.t :"double_ball.week_num" %></th>
      <th class="red"><%= I18n.t :"double_ball.red1" %></th>
      <th class="red"><%= I18n.t :"double_ball.red2" %></th>
      <th class="red"><%= I18n.t :"double_ball.red3" %></th>
      <th class="red"><%= I18n.t :"double_ball.red4" %></th>
      <th class="red"><%= I18n.t :"double_ball.red5" %></th>
      <th class="red"><%= I18n.t :"double_ball.red6" %></th>
      <th class="blue"><%= I18n.t :"double_ball.blue" %></th>
      <% (1..33).each do |r| %>
      <th class="red"><%= r %></th>
      <% end %>
      <% (1..16).each do |b| %>
      <th class="blue"><%= b %></th>
      <% end %>
      <th>奇数</th>
      <th>偶数</th>
      <th>质数</th>
      <th>合数</th>
      <th>红和</th>
      <th>总和</th>
    </tr>
  </thead>

  <tbody>
    <% @double_balls.each do |double_ball| %>
      <tr>
        <td><%= double_ball.period_number %></td>
        <td><%= double_ball.date.strftime('%Y-%m-%d') %></td>
        <td><%= double_ball.get_week_day %></td>
        <td class="red"><%= double_ball.red1 %></td>
        <td class="red"><%= double_ball.red2 %></td>
        <td class="red"><%= double_ball.red3 %></td>
        <td class="red"><%= double_ball.red4 %></td>
        <td class="red"><%= double_ball.red5 %></td>
        <td class="red"><%= double_ball.red6 %></td>
        <td class="blue"><%= double_ball.blue %></td>
        <% (1..33).each do |r| %>
        <th class="<% if double_ball.is_have_red(r) > 0 %> red : ''<% end%>"><%= r %></th>
        <% end %>
        <% (1..16).each do |b| %>
        <th class="<% if double_ball.is_have_blue(b) > 0 %> blue : ''<% end%>"><%= b %></th>
        <% end %>

        <td><%= double_ball.ji_ou_number %></td>
        <td><%= 6 - double_ball.ji_ou_number %></td>
        <td><%= double_ball.get_zhishu %></td>
        <td><%= 6 - double_ball.get_zhishu %></td>
        <td><%= double_ball.red_total %></td>
        <td><%= double_ball.red_total + double_ball.blue %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @questions %>
