<p id="notice"><%= notice %></p>

<p>
  <strong>Period number:</strong>
  <%= @double_ball.period_number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @double_ball.date %>
</p>

<p>
  <strong>Red1:</strong>
  <%= @double_ball.red1 %>
</p>

<p>
  <strong>Red2:</strong>
  <%= @double_ball.red2 %>
</p>

<p>
  <strong>Red3:</strong>
  <%= @double_ball.red3 %>
</p>

<p>
  <strong>Red4:</strong>
  <%= @double_ball.red4 %>
</p>

<p>
  <strong>Red5:</strong>
  <%= @double_ball.red5 %>
</p>

<p>
  <strong>Red6:</strong>
  <%= @double_ball.red6 %>
</p>

<p>
  <strong>Blue:</strong>
  <%= @double_ball.blue %>
</p>

<p>
  <strong>Week num:</strong>
  <%= @double_ball.week_num %>
</p>

<%= link_to 'Edit', edit_double_ball_path(@double_ball) %> |
<%= link_to 'Back', double_balls_path %>
